*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* -----Common class ----- */
section:not(:first-child){
    background-color: black;
}

hr{
    border: 4px solid rgb(91, 91, 91);
}
ul li{
    list-style: none;
}
select{
    border: none;
}

h1{
    font-size: 3rem;
    font-weight:bold;
    margin: 1rem 0;
}

h2{
    font-size: 1.6rem;
    font-weight:500;
}

h3{
    font-size: 1.3rem;
    font-weight:500;
}

.widthFull{
    width:100vw;
}
.border{
    border: 2px solid gray;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    cursor: pointer;
}
.bgBlack{
    background: black;
}

.font500{
    font-weight: 500;
}
.mTB1{
    margin:1rem 0;
}
.padding1{
    padding: 2rem;
}
.height80{
    height: 80vh;
}
/* ---------------------- */

/* email common */

.emailBox{
    width: 100%;
    justify-content: space-around;
    /* margin-bottom: 4rem; */
}
.emailBox button{
    background-color: rgb(224, 7, 7);
    font-size: 1.4rem;
    padding: .7rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    width: 30%;
}
.emailBox button:hover{
    background-color: rgb(192, 2, 2);
}
.emailInputBox{
    height: 3rem;
    width: 60%;
    border: 2px solid gray;
    position: relative;
    border-radius: .3rem;
}
.emailInputBox input{
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.emailInputBox label{
    z-index: 2;
    color: gray; 
    position: absolute;
    top: 0;
    padding: .7rem;
    height: 100%;
}

/* language btn */

.lang_btn1{
    border-color: rgba(107, 106, 106, 0.731);
    border-radius: .3rem;
    padding: .3rem .8rem;
    margin-right: 1.5rem;
}

.lang_btn1 select{
    font-weight: 550;
    font-size: 1rem;
    margin-left: .2rem;
}

/* ---------------------- */
/* section 1 */
.navContainer{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.navContainer img{
    width: 100%;
    height: 100%;
}
.navContainer .bgBlur{
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.navContainer nav{
    justify-content: space-between;
    height: 10%;
    padding: 3rem 11rem;
}

.navContainer .logo > img{
    width: 11rem;
    height: 2.5rem;
}

.navContainer .signInBtn{
    background-color: red;
    border-radius: .3rem;
    border-color: rgba(0, 0, 0, 0.468);
    font-size: 1rem;
    font-weight: 600;
    padding: .3rem .8rem;
}

.navContainer .signInBtn:hover{
    background-color: rgb(198, 10, 10);
    transition: 2s backgroundColor ease-in-out;
}

.navContainer .navContent{
    height: 90%;
    justify-content: center;
}
.navContainer .navContent .navContentCenter{
    flex-direction: column;
    justify-content: space-around;
}

/* section 2 */

.section2 .contentS2{
    flex-direction: column;
    width: 35%;
    align-items: baseline;
}

.section2 .Ad_Video_Clip{
    position: relative;
    z-index: 2;
    width: 40%;
}

.section2 .Ad_Video_Clip > .video1{
    position: absolute;
    top: 38px;
    left: 60px;
    z-index: -1;
}

/* section 3 */

.section3 .contentS3{
    flex-direction: column;
    width: 40%;
    align-items: baseline;
}
.section3 .video2{
    flex-direction: column;
    position: relative;
}
.section3 .video2 + img{
    height: 25rem;
}

.msgBox_section3{
    border: 2px solid gray;
    background-color: black;
    border-radius: .5rem;
    width: 70%;
    position: absolute;
    top: 65%;
    padding: .5rem;
    justify-content: space-around;
}

.msgBox_section3 img{
    width: 3.5rem;
    height: 4.5rem;
}

.msgBox_section3 div > .blueText{
    font-weight: 400;
    color: #0071eb;
}
/* scetion 4 */

.section4 .contentS4{
    flex-direction: column;
    width: 40%;
    align-items: baseline;
}

.section4 .Ad_Video_Clip_2{
    position: relative;
    z-index: 2;
}

.section4 .Ad_Video_Clip_2 > .video_2{
    position: absolute;
    top: 38px;
    left: 110px;
    z-index: -1;
    height: 15rem;
    width: 25rem;
}

/* section 5 */

.section5 .contentS5{
    flex-direction: column;
    width: 40%;
    align-items: baseline;
}

.kid_section_image_5 img{
    width: 30vw;
    height: 60vh;
}
/* section 6 */

.section6 {
    flex-direction: column;
    padding: 3.5rem;
}
.section6 ul{
    flex-direction: column;
    align-items: baseline;
    width: 75%;
}
.section6 ul .msgDrops_list{
    background-color: rgba(63, 63, 63, 0.61);
    border-radius: .2rem;
    margin: .5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
}

.msgDrops_button{
    padding: 1.2rem;
    border: 1px solid black;
    justify-content: space-between;
    position: relative;
}

.msgDrops_button:hover{
    background-color:  rgb(53, 53, 53);
}

.section6 ul .msgDrops_list .msgDrops_button::after{
    content: '+';
    padding-right: 2rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}

.section6 ul .msgDrops_list.active .msgDrops_button::after{
    content: 'X';
}
.section6 .textDrops_button{
    display: none;
    padding: 2rem;
}

.section6 form{
    margin-top: 2.5rem ;
}

/* section 7 */

.section7{
    height: 70vh;
    width: 100%;
}

.section7 .contentS7{
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    padding: 0 5rem;
}

.section7 a{
    color: rgb(207, 207, 207);
}
.section7 ul{
    flex-wrap: wrap;
}

.section7 ul li{
    width: 30%;
    height: 2rem;
}

.section7 .contentS7  div{
    margin-left: 3.5rem;
    color:  rgb(207, 207, 207);

}